<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @activity.description %>
</p>

<p>
  <strong>Max people:</strong>
  <%= @activity.max_people %>
</p>

<p>
  <strong>No max:</strong>
  <%= @activity.no_max %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @activity.zipcode %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @activity.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @activity.end_time %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
