<!DOCTYPE html>
<html>
<head>
  <title>Spontaneus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav navbar-nav navbar-right">
	<% if current_user %>
		<li>Signed in as: <%= current_user.name %> <%= image_tag(@auth['info']['image'], width: '50', height: '50') %></li>
		<li><%= link_to "Sign Out", 'sign_out', method: :delete %></li>
	<% else %>
		<%= link_to "auth/facebook" do %><button>Log In </button><% end %>
	<% end %>
</ul>

<% flash.each do |key, value| %>
	<div class="alert alert-info"><%= value %></div>
<% end %> 

<% if current_user %>
	<div class="text-center">
		<h1>Welcome, <%= current_user.name %></h1>
		<h4>Logged in with <strong><em><%= @auth['provider'].capitalize %></em></strong></h4>
	</div>
<% end %>


<%= yield %>

</body>
</html>
